<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href=""><em>Ruby on Rails
  Tutorial</em></a> is a 
  <a href="">book</a> and
  <a href="">screencast series</a>
  to teach web development with 
  This is the sample application for the tutorial.
</p>