<p id="notice"><%= notice %></p>

<h1>Listing Cms Pages</h1>

<table>
  <thead>
    <tr>
      <th>Page name</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cms_pages.each do |cms_page| %>
      <tr>
        <td><%= cms_page.page_name %></td>
        <td><%= cms_page.title %></td>
        <td><%= cms_page.description %></td>
        <td><%= link_to 'Show', cms_page %></td>
        <td><%= link_to 'Edit', edit_cms_page_path(cms_page) %></td>
        <td><%= link_to 'Destroy', cms_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<br>

<%= link_to 'New Cms page', new_cms_page_path %>
