<p id="notice"><%= notice %></p>

<p>
  <strong>Page name:</strong>
  <%= @cms_page.page_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cms_page.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cms_page.description %>
</p>

<%= link_to 'Edit', edit_cms_page_path(@cms_page) %> |
<%= link_to 'Back', cms_pages_path %>
