<h1>Innbox</h1>

<p>Hi <%= @user.domain_name %>,</p>

<p>
Welcome to the Innbox! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, 
                                                    email: @user.email) %>
