<%= form_for(@gallery_type) do |f| %>
  <% if @gallery_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery_type.errors.count, "error") %> prohibited this gallery_type from being saved:</h2>

      <ul>
      <% @gallery_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :is_video %><br>
    <%= f.check_box :is_video %>
  </div>
  <div class="field">
    <%= f.label :image_type %><br>
    <%= f.text_field :image_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
