<p id="notice"><%= notice %></p>

<h1>Listing Gallery Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Height</th>
      <th>Width</th>
      <th>Is video</th>
      <th>Image type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_types.each do |gallery_type| %>
      <tr>
        <td><%= gallery_type.name %></td>
        <td><%= gallery_type.height %></td>
        <td><%= gallery_type.width %></td>
        <td><%= gallery_type.is_video %></td>
        <td><%= gallery_type.image_type %></td>
        <td><%= link_to 'Show', gallery_type %></td>
        <td><%= link_to 'Edit', edit_gallery_type_path(gallery_type) %></td>
        <td><%= link_to 'Destroy', gallery_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery type', new_gallery_type_path %>
