<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gallery_type.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @gallery_type.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @gallery_type.width %>
</p>

<p>
  <strong>Is video:</strong>
  <%= @gallery_type.is_video %>
</p>

<p>
  <strong>Image type:</strong>
  <%= @gallery_type.image_type %>
</p>

<%= link_to 'Edit', edit_gallery_type_path(@gallery_type) %> |
<%= link_to 'Back', gallery_types_path %>
