<%= form_for(@gallery_image) do |f| %>
  <% if @gallery_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery_image.errors.count, "error") %> prohibited this gallery_image from being saved:</h2>

      <ul>
      <% @gallery_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :gallery_type_id %><br>
    <%= f.number_field :gallery_type_id %>
  </div>
  <div class="field">
    <%= f.label :alt_text %><br>
    <%= f.text_field :alt_text %>
  </div>
  <div class="field">
    <%= f.label :sort_order %><br>
    <%= f.number_field :sort_order %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
