<p id="notice"><%= notice %></p>

<h1>Listing Gallery Images</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Gallery type</th>
      <th>Alt text</th>
      <th>Sort order</th>
      <th>Link</th>
      <th>Description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_images.each do |gallery_image| %>
      <tr>
        <td><%= gallery_image.avatar %></td>
        <td><%= gallery_image.gallery_type_id %></td>
        <td><%= gallery_image.alt_text %></td>
        <td><%= gallery_image.sort_order %></td>
        <td><%= gallery_image.link %></td>
        <td><%= gallery_image.description %></td>
        <td><%= gallery_image.title %></td>
        <td><%= link_to 'Show', gallery_image %></td>
        <td><%= link_to 'Edit', edit_gallery_image_path(gallery_image) %></td>
        <td><%= link_to 'Destroy', gallery_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery image', new_gallery_image_path %>
